.navigation-contacts {
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  a {
    font-weight: 500;
    line-height: 16px;
    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 14px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 16px;
    }
    letter-spacing: 0.02em;
    color: $color_grey;
    &:hover {
      color: $color_blue;
    }
  }
  .header-contacts {
    padding-top: 20px;
    @media screen and (min-width: 1200px) {
      height: 100%;
      display: flex;
      align-items: center;
    }

    @media screen and (min-width: 768px) {
      padding-top: 0px;
    }
  }
  li:first-child {
    margin-bottom: 16px;
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      margin-bottom: 0px;
    }
  }
  a {
    position: relative;
    transition: $transition_all;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
  svg {
    margin-right: 10px;
    fill: currentColor;
  }
}
