.header {
  background: $color_white;
  border-bottom: 1px solid $color_header_border;
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    @media screen and (min-width: 768px) {
      justify-content: flex-start;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  .header-navigation {
    padding-top: 60px;
    padding-bottom: 60px;
    position: absolute;
    width: 100%;
    max-width: 480px;
    top: 100%;
    left: 0%;
    background: $color_white;
    display: none;
    border: 1px solid $color_header_border;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    @media screen and (min-width: 768px) {
      display: flex;
      position: relative;
      border: none;
      padding-top: 0px;
      padding-bottom: 0px;
      max-width: none;
      box-shadow: none;
    }
  }
  .menu-button {
    &:hover {
      fill: $color_blue;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background: transparent;
    transition: $transition_all;
    .icon-cross {
      display: none;
    }
    &.is-open .icon-cross {
      display: block;
    }
    &.is-open .icon-menu {
      display: none;
    }
    &.is-open .hero {
      display: none;
    }
    &.is-open + .header-navigation {
      z-index: 1;
      display: block;
    }
  }
}
