.navigation-links {
  font-weight: 500;
  align-self: center;
  a {
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: $color_black;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 16px;
    }
    &:hover {
      color: $color_blue;
    }
  }
  .header-links {
    @media screen and (min-width: 768px) {
      display: flex;
      li + li {
        margin-left: 50px;
      }
    }
    .active {
      display: inline-block;
      margin-bottom: 52px;
      color: $color_blue;
      @media screen and (min-width: 768px) {
        margin-bottom: 0px;
      }
      @media screen and (min-width: 1200px) {
        color: inherit;
      }
    }
    li {
      text-align: center;
      @media screen and (min-width: 768px) {
        margin-bottom: 0px;
        position: relative;
      }
      @media screen and (min-width: 1200px) {
        &:hover {
          color: $color_blue;
        }
      }
    }
    a {
      display: inline-block;
      margin-bottom: 40px;
      position: relative;
      align-self: center;
      transition: $transition_all;
      @media screen and (min-width: 768px) {
        margin-bottom: 0px;
        position: static;
        padding-top: 32px;
        padding-bottom: 32px;
      }
    }
  }
  .active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: $color_blue;
    bottom: -8px;
    left: 0px;
    @media screen and (min-width: 768px) {
      bottom: -5px;
    }
    @media screen and (min-width: 1200px) {
      bottom: -1px;
    }
  }
}
