.portfolio-examples {
  padding-top: 25px;
  @media screen and (min-width: 768px) {
    padding-top: 0px;
  }
  background: $color_white;
  padding-bottom: 64px;
  h2 {
    display: none;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  li {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 15px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 3 * 15px) / 3);
    }
    background: $color_white;
    border: 1px solid $color_portfolio_examples_border;
    margin-bottom: 30px;
  }
  .portfolio-image {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
