.regular-customers-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 90px;
  border: 1px solid $color_social_icons;
  border-radius: 4px;
  color: $color_social_icons;
  transition: $transition_all;
  &:hover {
    cursor: pointer;
    border-color: $color_blue;
    color: $color_blue;
  }
  svg {
    fill: currentColor;
    transition: $transition_all;
  }

}
